/* モーダル内のコンテンツ幅 */
.content {
  width: 100%;
  display: flex;
  flex-direction: column; /* 縦方向に並べる */
  justify-content: space-around; 
  gap: 20px; /* 要素間の隙間 */
}

.content-task-name {
  width: 95%;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

.content-task-project {
  width: 95%;
  height: 30px;
  font-size: 15px;
  text-align: center;
}


.content-task-limit-level {
  width: 80%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;  
  gap: 10px;
}


.content-task-limit {
  width: 180%;
  height: 30px;
  font-size: 15px;
  text-align: center;
}

.content-task-level {
  width: 180%;
  height: 30px;
  font-size: 15px;
  text-align: center;
}

.content-task {
  width: 95%;
  height: 300px;
  font-size: 10px;
  text-align: left;
}
