/* モーダルの背景オーバーレイ */
.modal-overlay {
  /* 画面全体を覆う設定 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒背景 */
  /* 画面の中央に要素を表示させる設定 */
  display: flex; 
  justify-content: center; /* 要素を横方向に中央揃え */
  align-items: center; /* 要素を縦方向に中央揃え */
  z-index: 1000; /* 他の要素より手前に表示 */
}

/* モーダルの中身 */
.modal-content {
  background: rgb(211, 201, 201);
  padding: 20px;
  border-radius: 10px;
  width: 750px;
  height: 550px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* モーダルの閉じるボタン */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.open-modal-button:hover {
  background-color: #0056b3;
}

/* モーダルの閉じるボタン */
.close-modal-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-modal-button:hover {
  background-color: #c82333;
}
